{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/alesso_bio.jpg' %}">   
            <a href="javascript:playTrack('Alesso')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Alesso</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Alesso</h5>
            <article class="smallFontBy08">
                <p>
                   Specializing in progressive house, Alessandro Lindblad achieved worldwide attention and popularity in 2011 with wide support of his original productions and remixes from the likes of Avicii, Swedish House Mafia, Tiësto, Sander van Doorn, Kaskade and other well established DJs. His remix of "Pressure" was one of the most played EDM songs of 2011. He made his debut on DJ Mag's Top 100 DJ list in 2011, garnering the 70th spot. Being one of 2011's hottest artists was enough for MTV to name him an EDM artist to watch in 2012.On March 24, 2012, Alesso debuted his first BBC Radio 1 Essential Mix. Alesso ranked at No. 20 on the Top 100 DJs list by DJ Magazine in 2012. Alesso's most recent hits have included "Years" featuring Matthew Koma, "Calling (Lose My Mind)" with Sebastian Ingrosso, and a remix of the OneRepublic song "If I Lose Myself". Alesso ranked at No. 13 on the Top 100 DJs list by DJ Magazine in 2013.        
               </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="http://www.AlessoWorld.com" target="_blank" class="smallFontBy08">www.AlessoWorld.com</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="http://www.facebook.com/AlessoOfficial" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="http://twitter.com/Alesso" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/AlessoOfficial" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

