{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/avicii_bio.jpg' %}">   
            <a href="javascript:playTrack('Avicii')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Avicii</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Avicii</h5>
            <article class="smallFontBy08">
                <p>
                    Tim Bergling (born 8 September 1989), better known by his stage name Avicii, is a Swedish DJ, remixer, and record producer. Avicii ranked at number 6 on DJ Magazine's annual Top 100 DJs poll in 2011, In 2012 he placed at number 3 and again in 2013. He has been nominated twice for a Grammy Award for his work on "Sunshine" with David Guetta in 2012 and in 2013 for his song "Levels". <br/> <br/> 
                    On 14 June 2013, the world premier of Avicii's new single, "Wake Me Up!" was previewed by Pete Tong on BBC Radio 1 featuring vocals from Aloe Blacc. The song was later released on iTunes and radio on 25 June 2013. It is the first single from Avicii's album, True, which was released on 16 September 2013. "Wake Me Up!" was number 1 on the Spotify Global Chart and Avicii was at 2 in most streamed artist worldwide. <br/><br/>
                    Avicii's influences include Tiësto, Daft Punk, Laidback Luke, Eric Prydz, and former Swedish House Mafia trio Sebastian Ingrosso, Steve Angello, and Axwell.
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="https://www.Avicii.com" target="_blank" class="smallFontBy08">www.Avicii.com</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="https://www.facebook.com/avicii?ref=br_tf" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="https://twitter.com/Avicii" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/channel/UC1SqP7_RfOC9Jf9L_GRHANg" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

