{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/calvin_harris_bio.jpg' %}">   
            <a href="javascript:playTrack('Calvin Harris')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Calvin Harris</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Calvin Harris</h5>
            <article class="smallFontBy08">
                <p>
                    Adam Richard Wiles (born 17 January 1984), better known by his stage name Calvin Harris, is a Scottish DJ, singer, songwriter, and record producer. He owns the vanity label Fly Eye Records. His gold-selling debut album, I Created Disco, was released in 2007 and contained the top-ten singles "Acceptable in the 80s" and "The Girls". His second studio album, Ready for the Weekend (2009), reached number one on the UK Album Chart and includes the chart-topper "I'm Not Alone", the top-five hit "Ready for the Weekend", and the singles "Flashback" and "You Used to Hold Me". <br/><br/>
                    A remix album titled L.E.D. Festival was released in July 2010 as a free album in the August issue of Mixmag. Harris released his third studio album, 18 Months in October 2012, which contained the singles "Bounce", "Feel So Close", "Let's Go", "We'll Be Coming Back", "Sweet Nothing", "Drinking from the Bottle", "I Need Your Love" and "Thinking About You". He has written and produced tracks for other recording artists including Kylie Minogue, Sophie Ellis-Bextor, Dizzee Rascal, Cheryl Cole, Example and Rihanna (on the international chart-topper "We Found Love"). <br/><br/>
                    Harris holds the record for the most top ten hits from one studio album on the UK Singles Chart with nine hits, surpassing Michael Jackson.[1] According to Forbes, Harris was the highest paid DJ of 2013, grossing an estimated $46 million.
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="http://www.CalvinHarris.co.uk" target="_blank" class="smallFontBy08">www.CalvinHarris.co.uk</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="http://www.facebook.com/CalvinHarris" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="http://twitter.com/CalvinHarris" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/CalvinHarrisVEVO" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

