{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/diplo_bio.jpg' %}">   
            <a class="span8"></a>
            <a class="span8"></a>
            <a href="javascript:playTrack('Diplo')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Diplo</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Diplo</h5>
            <article class="smallFontBy08">
                <p>
                    Thomas Wesley Pentz (born November 10, 1978), better known by his stage name Diplo, is a Los Angeles-based American DJ, music producer, rapper, and songwriter. He founded and manages record company Mad Decent, as well as co-founding the non-profit organization Heaps Decent. Among other jobs, he has worked as a school teacher in Philadelphia. He is also the co-creator and lead member of the electronic dancehall music project, Major Lazer. His 2013 EP "Revolution" debuted at #68 on the Billboard 200.<br/><br/>
                    During his rise to notability, Diplo worked with British musician M.I.A., an artist who is credited with helping expose him in his early career. Later, he and fellow M.I.A. producer Switch created a Jamaican dancehall project titled Major Lazer. Since then, Diplo has worked on production and mixtape projects with many other notable pop artists, such as Beyoncé, No Doubt, Justin Bieber, Usher, Snoop Lion, and G-Dragon. His alias, short for Diplodocus, derives from his childhood fascination with dinosaurs.
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="https://www.Diplo.com" target="_blank" class="smallFontBy08">www.Diplo.com</a>
                    </div>
                    <div class="span6"> 
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="https://www.facebook.com/Diplo" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="https://twitter.com/Diplo" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/maddecent" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>    
            </section>
        </div>
    </div>
</section>

