{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/hardwell_bio.jpg' %}">    
            <a href="javascript:playTrack('hardwell')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Hardwell</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>  
            <h5>Hardwell</h5>
            <article class="smallFontBy08">
                <p>
                    Robbert van de Corput (born 7 January 1988), better known by his stage name Hardwell, is a Dutch progressive and electro house DJ and music producer. He is currently The World's #1 DJ based on DJ Magazine's annual Top 100 DJs poll and is widely known for his live sets at major music festivals such as Tomorrowland and Ultra. The video streams of his performances on his personal YouTube channel have collectively garnered more than 70 million views.<br/><br/>
                    Hardwell first gained recognition in 2009 for his bootleg of "Show Me Love vs. Be" and after the release of his single "Zero 76," a collaboration track with Tiësto in 2011, his popularity increased. He founded record label, Revealed Recordings in 2010 and his own radio show and podcast, Hardwell On Air in 2011. He has since released four compilation albums through his label, as well as his own documentary film. Hardwell has stated that he is currently working on his debut studio album, which is expected to be released sometime in 2014. 
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="http://www.djhardwell.com" target="_blank" class="smallFontBy08">www.djhardwell.com</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="http://www.facebook.com/djhardwell" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="http://twitter.com/HARDWELL" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/user/robberthardwell" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

