{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/kaskade_bio.jpg' %}">   
            <a href="javascript:playTrack('Kaskade')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Kaskade</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Kaskade</h5>
            <article class="smallFontBy08">
                <p>
                    Ryan Raddon (born February 25, 1971), better known by his stage name Kaskade, is an American DJ and record producer. On October 20, 2011, DJ Magazine announced the results of their annual Top 100 DJ Poll, with Ultra Records, Kaskade placed at No. 30. DJ Times polls voted Kaskade "America's Best DJ 2011" and "America's Best DJ 2013". <br/><br/>
                    Kaskade rose to prominence alongside producers deadmau5 and Wolfgang Gartner during the revival of American progressive house in late 2008-early 2009. In April 2012, Kaskade took to Indio, California to headline opposite Radiohead two weekends at Coachella Valley Music Festival to a packed crowd. In June 2012, the American House producer was one of the headlining acts at Electric Daisy Carnival in Las Vegas, Nevada. That same month, he embarked on his "Freaks of Nature" summer tour in support of his released album Fire & Ice. In December 2013, Kaskade was nominated for two Grammy Awards. The song "Atmosphere" for dance recording of the year and the album Atmosphere for dance album of the year.
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="https://www.KaskadeMusic.com" target="_blank" class="smallFontBy08">www.KaskadeMusic.com</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="https://www.facebook.com/Kaskade" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="https://twitter.com/Kaskade" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/Kaskade" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

