{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/nervo_bio.jpg' %}">   
            <a href="javascript:playTrack('Nervo')"class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Nervo</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Nervo</h5>
            <article class="smallFontBy08">
                <p>
                    Miriam Nervo and Olivia Nervo are Australian musicians and songwriters, better known by their stage name NERVO. After signing with Sony/ATV Music Publishing at 18 years of age, the twins pursued careers as songwriting partners, co-writing the Grammy Award-winning single, "When Love Takes Over", performed by David Guetta and Kelly Rowland. <br/> <br/> 
                    Nervo began their 2013 music production schedule with "Like Home", with Nicky Romero, followed by the Nervo single "Hold On", which was released to iTunes on 9 April. The music video for "Hold On" was released on April 19 and uploaded to their VEVO channel on YouTube. In June 2013, Nervo were featured on the cover of Spanish magazine S Moda and a feature article that included further posed photographs was published on the magazine's website in May.
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="http://www.NervoMusic.com" target="_blank" class="smallFontBy08">www.NervoMusic.com</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="http://www.facebook.com/NervoMusic" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="http://twitter.com/NervoMusic" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/NervoSONGS" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

