{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/nicky_romero_bio.jpg' %}">   
            <a href="javascript:playTrack('Nicky Romero')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Nicky Romero</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Nicky Romero</h5>
            <article class="smallFontBy08">
                <p>
                    Nicky Romero (born Nick Rotteveel; January 6, 1989) is a Dutch DJ and house music composer/producer. He has worked with, and received support from, DJs such as Tiësto, Fedde Le Grand, Sander van Doorn, David Guetta, Calvin Harris, Armand Van Helden, Avicii and Hardwell.He currently ranks #7 on DJ Magazine's annual Top 100 DJs poll. He is known for having a number one hit single in the UK with 'I Could Be The One.'<br/> <br/> 
                    Following "I Could Be the One" in 2013, Romero released his long-awaited single, "Symphonica," that reached #1 on the overall Beatport Top 100 chart. His next release, a collaboration with Krewella, "Legacy," also saw Beatport chart success hitting the #1 spot. Romero then took on a collaboration with Sunnery James & Ryan Marciano, “S.O.T.U.”, that he released on Steve Angello's Size Records. Amid his 2013 releases, he performed as a resident at The Light Las Vegas and he also played numerous major festivals including Ultra Music Festival, Coachella, Electric Daisy Carnival Las Vegas and Puerto Rico, Sensation White, and Tomorrowland, amongst others. One of his most notable gigs was at TomorrowWorld where he was one of the first music acts to present an interactive performance experience using Google Glass.
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="https://www.NickyRomero.nl" target="_blank" class="smallFontBy08">www.NickyRomero.nl</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="https://www.facebook.com/djNickyRomero" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="https://twitter.com/NickyRomero" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/NickyRomerotv" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

