{% load static %}
<li class="span4 mix electro mix_all">
    <a href="#alesso" data-destination="portfolio-items" data-insert="before">
        <img src="{% static 'images/pages/lineup/alesso_prof.jpg' %}">
        <div class="portfolio-overlay">
            <h4>Alesso</h4>
        </div>
    </a>
</li>
<li class="span4 mix progressive mix_all">
    <a href="#nervo" data-destination="portfolio-items" data-insert="before">
        <img src="{% static 'images/pages/lineup/nervo_prof.jpg' %}">
        <div class="portfolio-overlay">
            <h4>Nervo</h4>
        </div>
    </a>
</li>
<li class="span4 mix trap mix_all">
   <a href="#diplo" data-destination="portfolio-items" data-insert="before">
        <img src="{% static 'images/pages/lineup/diplo_prof.jpg' %}">
        <div class="portfolio-overlay">
            <h4>Diplo</h4>
        </div>
    </a>
</li>