{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/steve_aoki_bio.jpg' %}">   
            <a href="javascript:playTrack('Steve Aoki')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By Steve Aoki</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>Steve Aoki</h5>
            <article class="smallFontBy08">
                <p>
                    Steven Hiroyuki "Steve" Aoki (born November 30, 1977) is an American electro house musician, Grammy nominated record producer and the founder of Dim Mak Records. He is widely known for his acrobatic crowd surfing stunts, throwing cake at fans, spraying champagne bottles, and riding rafts on the dance floor.<br/><br/> 
                    Aoki attended the University of California, Santa Barbara and graduated with 2 BAs; one in Feminist Studies and the other in Sociology. In college, he produced do-it-yourself records and ran underground concerts out of his Biko roos in the Santa Barbara Student Housing Cooperative, which was located in Isla Vista, a section of residential land adjacent to UCSB. As a concert venue, the apartment became known as The Pickle Patch.<br/><br/>
                    Aoki finished in 6th place in the 2013 America's Best DJ competition-a vote and promotion to find out the country's most popular DJ conducted by DJ Times magazine and Pioneer DJ. On October 11, 2013, Aoki collaborated with Linkin Park on the song "A Light That Never Comes" that was included on the remix album, Recharged 18 days later. 
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="https://www.SteveAoki.com" target="_blank" class="smallFontBy08">www.SteveAoki.com</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="https://www.facebook.com/SteveAoki" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="https://twitter.com/SteveAoki" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/SteveAoki" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

