{% load static %}
<section class="portfolio-item-details">
    <div class="row-fluid">
        <div class="span8">
            <img src="{% static 'images/pages/lineup/w&w_bio.jpg' %}">   
            <a href="javascript:playTrack('W&W')" class="span12 btn btn-primary" style="text-decoration:none; font-size:20px; float:right; margin-top:20px; opacity: .8">Play A Set By W&W</a>
        </div>    
        <div class="span4">
            <div class="close-portfolio">
                <span>&#10006;</span>
                <div class="clearfix"></div>
            </div>
            <h5>W&W</h5>
            <article class="smallFontBy08">
                <p>
                    Wardt van der Harst & Willem Van Hanegem met during a chance encounter at Trance Energy 2007. Willem and Wardt initially started out producing their own respective songs with tracks like ‘Ensure’, ‘Show my Shuffle’, ‘Origin’ & ‘Stab My Speaker’. Their serendipitous Trance Energy meet quickly resulted in their debut W&W production ‘Mustang’. ‘Dome’ & ‘Arena’ (which featured on the Armin Only DVD) followed up its freshman success and fast found the CDJs of trance luminaries like Tiësto, Ferry Corsten, Markus Schulz, Sander Van Doorn & Judge Jules. Tipped by Armin van Buuren as “the best up-and-coming production duo out there”, W&W then produced ‘Mainstage’, the Sean Tyas-remixed ‘D.N.A’ and their Ummet Ozcan collaboration ‘Synergy’. Their remixes have proved equally popular – most notably on Armin’s ‘Rain’, ‘Remedy’ (by UK pop starlet Little Boots) and those of Sander van Doorn, Leon Bolier, Sied van Riel, & others. <br/><br/>
                    Trance Energy 2008 featured Sander van Doorn playing W&W's ‘Mustang’. Galvanized by its floor-response (and defining their sounds as “big room trance with a techy edge”), W&W took up DJ-ing. Their gigs include Poland’s Sunrise Festival, the A State Of Trance 400 gigs and a spot playing alongside Tiësto at in Kiev. Just two years further down the road from their first gigs together, they were featured in Trance Energy 2010.
                </p>
            </article>
            <section class="website">
                <div class="row-fluid">
                    <div class="span6">
                        <h5>Visit site</h5>
                        <a href="https://www.wandwmusic.com" target="_blank" class="smallFontBy08">www.WandWmusic.com</a>
                    </div>
                    <div class="span6">
                        <div class="social-icons sicon-black bordered bordered-black noMargin">
                            <a href="https://www.facebook.com/WandWofficial" target="_blank" class="sicon-white sicon-facebook"><i>Facebook</i></a>
                            <a href="https://twitter.com/WandWmusic" target="_blank" class="sicon-white sicon-twitter"><i>Twitter</i></a>
                            <a href="http://www.youtube.com/WandWmusic" target="_blank" class="sicon-white sicon-youtube"><i>Youtube</i></a>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</section>

