.playbutton{ 
    margin-bottom: 25px;
    opacity: .5;
}

.playbutton:hover { 
    opacity: .75;
}

#menu-logo { 
    font-family: 'Fauna One', serif;
}

.stage { 
    font-family: 'ChunkFiveRegular';
    color: #ffffff;
    font-size: 40px;
}

.stage:hover { 
    color: #fff;
    text-decoration: underline;
}

#target { 
    margin-top: 10%;
    opacity: .8;
}

#frontpageSearchIcon { 
    left: auto;
    position: relative;
}

#frontpageSearchIcon:hover { 
    opacity:1;
}

#frontpageSearch { 
    /*position: absolute;*/
    /*float:left;*/
    /*left:37%;*/
    opacity: .8;
    transition: all 0.5s ease-in-out;
    height: 50px;
}

#frontpageSearch:hover { 
    opacity:1;
    transition: all 0.5s ease-in-out;
}

#festHead { 
    color:#ffffff;
}

.festPics { 
    width: 300px;
    height: 300px;
    border-radius: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
    /*background: url(http://link-to-your/image.jpg) no-repeat;*/
    border: 1px solid black;
}

.slides { 
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.carousel-inner { 
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}

.noMargin { 
    margin: 15px 0px 0px 0px !important;
} 

.playProfile { 
    margin-right: 10px;
}

.inputBox { 
    border-radius: 25px !important;
}

html, body { 
    overflow-x:hidden;
}

.search { 
    -moz-animation-delay: 1.4s;
    -webkit-animation-delay: 1.4s;
    -o-animation-delay: 1.4s;
}