<!-- PAGE | FEATURES  -->
    <div class="pages white parallax page-features" id="page-features">
        <div class="overlay"></div>
        <div class="container">
             <!-- Header -->
            <header>
                <h4 class="line-divider" id="festHead">Festivals &amp; Concerts</h4>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            The biggest music festivals of 2014. 
                        </p>
                    </div>
                </div>
            </header>
             <!-- End Header -->
             <!-- Article -->
             <article>
                <!-- Blog articles -->
                <ul class="thumbnails text-center">
                    <!-- Blog post -->
                    <li class="span4">
                        <a target="_blank" href="http://www.coachella.com/">
                            <img class="festPics" src="{% static 'images/pages/festivals/coachella_pic.jpg' %}">
                        </a>
                        <h5>
                            <a style="color:white" target="_blank" href="http://www.coachella.com/">Coachella</a><br/>
                            <small>April 11 - 13 &amp; April 18 - 20</small>
                        </h5>
                        <p class="smallFontBy08">Coachella is a two-weekend, three-day music and arts festival held at the Empire Polo Club in Indio, California.</p>
                    </li>
                    <li class="span4">
                        <a target="_blank" href="http://www.tomorrowland.com/global-sale/">
                            <img class="festPics" src="{% static 'images/pages/festivals/tomorrowland_pic.jpg' %}">
                        </a>
                        <h5>
                            <a style="color:white" target="_blank" href="http://www.tomorrowland.com/global-sale/">Tomorrowland</a><br/>
                            <small>July 18 - 20 &amp; July 25 - 27</small>
                        </h5>
                        <p class="smallFontBy08">Tomorrowland is a large electronic music festival held in Belgium.</p>
                    </li>
                    <li class="span4">
                        <a target="_blank" href="http://www.creamfields.com/">
                            <img class="festPics" src="{% static 'images/pages/festivals/creamsfield_pic.jpg' %}">
                        </a>
                        <h5>
                             <a style="color:white" target="_blank" href="http://www.creamfields.com/">Creamsfields</a><br/>
                            <small>August 22 - 24</small>
                        </h5>
                        <p class="smallFontBy08">Creamfields is a large British dance music festival featuring DJs and live acts in Daresbury, England.</p>
                    </li>
                    <li class="span4">
                        <a target="_blank" href="http://stereosonic.com.au">
                            <img class="festPics" src="{% static 'images/pages/festivals/stereosonic_pic.jpg' %}">
                        </a>
                        <h5>
                             <a style="color:white" target="_blank" href="http://stereosonic.com.au/">Stereosonic</a><br/>
                            <small>November 29 - 30 &amp; December 5 -7</small>
                        </h5>
                        <p class="smallFontBy08">Stereosonic is an annual music festival held in Australia in November and early December. Stereosonic is held in Brisbane, Adelaide, Perth, Sydney, and Melbourne.</p>
                    </li>
                    <li class="span4">
                        <a target="_blank" href="http://www.ultramusicfestival.com/home">
                            <img class="festPics" src="{% static 'images/pages/festivals/ultra_pic.jpg' %}">
                        </a>
                        <h5>
                            <a style="color:white" target="_blank" href="http://www.ultramusicfestival.com/home">Ultra Music Festival Miami</a><br/>
                            <small>March 28 - 31</small>
                        </h5>
                        <p class="smallFontBy08">Ultra Music Festival (UMF) is an annual outdoor electronic music festival that occurs in March in the city of Miami, Florida, United States.</p>
                    </li>
                    <li class="span4">
                        <a target="_blank" href="http://www.electricdaisycarnival.com/">
                            <img class="festPics" src="{% static 'images/pages/festivals/edc_pic.jpg' %}">
                        </a>
                        <h5>
                            <a target="_blank" style="color:white" href="http://www.electricdaisycarnival.com/">EDC Las Vegas</a><br/>
                            <small>June 20 - 22</small>
                        </h5>
                        <p class="smallFontBy08">Electric Daisy Carnival in Las Vegas is the world's largest electronic music festival.</p>
                    </li>
                </ul>
            </article>
            <!-- End Article -->
        </div>
    </div>
    <!-- END PAGE | FEATURES -->